[2018-12-17 13:07] alexellis opened #1 "Generate passwords in Go code"
Consider using this library or an alternative to generate passwords/secrets: https://github.com/sethvargo/go-password

[2018-12-18 15:51] alexellis opened #4 "Create internal trust secret"
## Expected Behaviour

https://github.com/openfaas/openfaas-cloud/tree/master/docs#create-an-internal-trust-secret

## Current Behaviour

Not implemented.

## Possible Solution

Add to init.yaml's secrets section.

[2018-12-19 11:13] alexellis opened #6 "Use init.yaml if present in current folder"
## Expected Behaviour

[code]

## Current Behaviour

Need to pass `-yaml`

[2018-12-19 11:27] ivanayov opened #8 "Step: deploy OpenFaaS Cloud dashboard"
## Expected Behaviour
* [ ] Step: deploy OpenFaaS Cloud dashboard

## Current Behaviour
Dashboard is not deployed

[2018-12-19 19:52] #6 closed, assigned to ivanayov

[2018-12-20 07:48] ivanayov opened #12 "Deploy container builder (buildkit)"
## Expected Behaviour

[ ]  Step: deploy container builder (buildkit)

## Current Behaviour

 Not available

[2018-12-20 13:27] ivanayov opened #14 "Deploy OpenFaaS Cloud primary functions"
## Expected Behaviour

Deploy all functions from the OpenFaaS Cloud stack file

## Current Behaviour

Not deployed

[2018-12-20 20:55] doowb opened #16 "Secrets not created when values are multiple words."
I entered a sentence for the value in my `github-webhook-secret` in the [init.yml](./init.yml) file, but when the functions were deploying, they gave an error because they couldn't find they secret. In the output, there is an error when the secret is being created saying "error: exactly one NAME is required, got 7".

I'm not as familiar with go (as I am with JavaScript), but I quoted the value in

[2018-12-21 19:03] #14 closed, assigned to nobody

[2018-12-21 19:03] #12 closed, assigned to nobody

[2018-12-21 19:03] #4 closed, assigned to ivanayov

[2018-12-21 19:03] #8 closed, assigned to nobody

[2019-01-02 22:24] doowb opened #21 "Configuration for S3 properties"
I'd like to be able to set my own configuration for the S3 properties.

## Expected Behaviour

Allow setting S3 properties in `init.yaml`, which will be populated in `gateway_config.yaml`. The properties should default to the `minio` settings currently being used.

## Current Behaviour

S3 properties are hardcoded to minio settings.

## Possible Solution

Add S3 struct to read properties from `ini

[2019-01-11 11:30] alexellis opened #23 "Template Issuer and Certificate for HTTPS"
## Expected Behaviour

* Generate `ClusterIssuer` for staging and production certificates

You'll need the user's email

* Generate a `Certificate` for the wildcard domain `*.domain.tld`

DNS01 challenge - allow user to pick AWS Route53 or GCP DNS

^ you'll need to create a secret for the API

* Generate a `Certificate` for static domain of `auth.system.domain.tld`

When DO's DNS01 challenge goes

[2019-01-11 11:37] alexellis opened #24 "Template "slack_url" for audit trail"
## Expected Behaviour

Template the URL for the "slack_url" so that people can get an audit trail in their Slack workspaces from the OFC deployment.

[2019-01-11 15:22] doowb opened #25 "Template namespaces"
## Expected Behaviour

Allow users to specify the `openfaas` (system-namespace?) and `openfaas-fn` (function-namespace?) namespaces.

I'm not sure what the wider impact this has (e.g. `openfaas` helm deployment, services that aren't using the common templates, etc...)

[2019-01-11 16:44] alexellis opened #26 "Backport Kubernetes changes to openfaas-cloud"
## Expected Behaviour

We should backport the templated Kubernetes changes to openfaas-cloud and look to create a small helm chart for it. This means we can concentrate on the files which are common between Swarm / K8s.

## Current Behaviour

They'll have to be maintained separately

[2019-01-16 10:34] alexellis opened #27 "Add setting for self-hosted GitLab"
## Expected Behaviour

I should be able to select GitHub or GitLab as my SCM (source control management) provider through `init.yaml` including any other secrets which may be required for it.

## Current Behaviour

Not available via automation.

[2019-01-16 14:51] alexellis opened #28 "Try updating cert-manager"
## Expected Behaviour

We should try updating cert-manager to the latest stable, if not latest alpha which contains the DO DNS01 challenge.

## Current Behaviour

We're on an older, easier to automate version. When updating try re-running the scenario over several times including the reset script. This is where the newer versions were failing earlier when creating the CRDs.

[2019-01-17 10:01] ivanayov opened #29 "Provide update scripts"
The way we currently use the tool to deploy OpenFaaS Cloud is by pre-reseting the cluster, as it requires a clean environment.
If this is used in production, people may want to be able to update the cloud to latest version or edit their configuration, without loosing their functions.

## Expected Behaviour

Provide a way to update the cluster if configuration is edited and/or there is a new versio

[2019-01-23 09:33] #23 closed, assigned to ivanayov

[2019-01-23 10:26] alexellis opened #31 "Don't delete all CRDs in reset script"
## Expected Behaviour

We should not delete all CRDs in the cluster using reset.sh

## Current Behaviour

We delete them all, even ones we didn't create and this causes GKE to break when Calico is enabled.

## Possible Solution

* Use kind to create cluster
* Run bootstrap code
* examine CRDs
* PR to reset.sh

[2019-01-23 11:02] #31 closed, assigned to bartsmykla

[2019-01-23 12:48] alexellis opened #33 "Template of-auth-dep's customers_url value"
## Expected Behaviour

We should template of-auth-dep's customers_url value as per init.yaml

## Current Behaviour

We don't, so it defaults to everyone signed-up to the community cluster

## Possible Solution

Add template file / value

[2019-01-23 13:11] alexellis opened #34 "Special instruction needed for GKE"
## Expected Behaviour

This should work on GKE

## Current Behaviour

It doesn't and gives an error when creating the sealed secrets controller

## Possible Solution

This command should be included, but if and only if the user is deploying to GKE. We could also have this as a pre-requisite in the README.

[code]

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Fa

[2019-01-23 14:22] ivanayov opened #35 "Update cert-manager to v0.6.0"
It's not available in helm/charts, as blocked by  [#10830](https://github.com/helm/charts/pull/10830) and [#90](https://github.com/helm/chart-testing/pull/90)

Once it's in the repo, update `install-cert-manager.sh` to use `v0.6.0` and test in all existing DNS Services (GC DNS and Route53) with enabled TLS.

The version is currently available in `jetstack` chart repo
[code]

Follow up of #28

Need

[2019-01-23 14:39] ivanayov opened #36 "Remove OAuth client_secret config duplication"
At the moment it's configured in two places:
[code]
and second time in
[code]

One possible solution is to add `value_from_config` option for the secrets and update `CreateK8sSecret()`

[2019-01-23 15:48] ivanayov opened #39 "Proposal: Move generating templates to a common library"
At the moment templates are generated with three different approaches in `stack.go`, `tls.go` and `ingress.go`.

These can be refactored to use common methods.

Needs adding unit tests as well.

[2019-01-24 10:10] #33 closed, assigned to ivanayov

[2019-01-24 10:37] #21 closed

[2019-01-24 10:39] alexellis opened #41 "Add Dockerfile"
## Expected Behaviour

Add a Dockerfile similar to the openfaas/faas-cli to build a binary for Darwin (MacOS) and Linux. ARM is not required.

Add a `make dist` option also.

## Current Behaviour

User or maintainer builds binaries manually.

[2019-01-24 10:41] alexellis commented on #41
https://github.com/openfaas/faas-cli/blob/master/Dockerfile.redist

[2019-01-24 10:41] alexellis commented on #41
https://github.com/openfaas/faas-cli/blob/master/build_redist.sh

[2019-01-24 18:20] #41 closed

[2019-01-25 17:11] ivanayov opened #47 "How to update templates easily from OpenFaaS Cloud?"
At the moment every change in the cloud, that's going to templated `yaml` config file, means manually editing existing templates, as well as regularly checking for changes in the `openfaas-cloud` repo.

This issue is for suggestion how to resolve that problem.

First option that comes to mind is fully templating OFC, like here, containing all templates in a separate folder, and  changing code to j

[2019-01-26 01:05] M-nana opened #50 "Non-generated template referenced when auth is disabled"
## Current Behaviour
2019/01/25 14:56:44 Validating tools available in PATH
exec:  kubectl version --client
res: Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.2", GitCommit:"cff46ab41ff0bb44d8584413b598ad8360ec1def", GitTreeState:"clean", BuildDate:"2019-01-13T23:16:58Z", GoVersion:"go1.11.4", Compiler:"gc", Platform:"darwin/amd64"}

exec:  openssl version
res: LibreSSL 2.2

[2019-01-26 08:09] alexellis commented on #50
Thank you for trying the tool

What error did you get?

We usually run reset.sh between running the tool too.

[2019-01-26 12:45] alexellis commented on #50
I can see this error ^ what country do you live in? Some governments block access to CDNs.

Alex

[2019-01-26 16:15] M-nana commented on #50
I live in the United States. The error is
cp: ./tmp/generated-of-auth-dep.yml: No such file or directory

[2019-01-26 17:00] alexellis commented on #50
Did you run the reset.sh that I requested?

[2019-01-26 19:46] alexellis commented on #50
What do you want to use for your HTTPS certificates and DNS? You can pick AWS Route53 or DNS or Google Cloud DNS

I just ran the whole setup with Google Cloud DNS on a DigitalOcean cluster and received no errors.

If I do get errors during development or need to change configuration I just run `contrib/reset.sh` and execute the process again.

[2019-01-26 21:36] alexellis opened #51 "Add "helm repo update" before installing first chart"
## Expected Behaviour

The local charts should be up to date

## Current Behaviour

Depending on timing it may error.

[2019-01-27 08:57] alexellis opened #52 "Extend timeouts for OpenFaaS helm chart"
## Expected Behaviour

Longer builds 5-15min should work with the default configuration without the user needing to apply  tweaks.

## Current Behaviour

I installed on DO K8s and scheduled a build which took longer than expected and then I saw that the GitHub check for the stack deploy got an "x". Extending the timeout appeared to fix this.

## Possible Solution

Update defaults in:

https://gith

[2019-01-28 09:13] alexellis commented on #50
@ivanayov please could you review this issue when you come in on Monday? I don't have Route53 configured to verify this scenario.

[2019-01-28 09:17] ivanayov commented on #50
I know what the error comes from. It's after an update not to generate template for of-auth, when disabled. I will commit fix shortly

[2019-01-28 09:23] #28 closed, assigned to nobody

[2019-01-28 09:23] #36 closed, assigned to nobody

[2019-01-28 09:31] bartsmykla commented on #51
Derek assign: me

[2019-01-28 09:48] ivanayov commented on #50
Derek set title: Non-generated template referenced when auth is disabled

[2019-01-28 09:52] alexellis opened #55 "Move from `kubectl apply` to helm chart for SealedSecrets"
## Expected Behaviour

All core services apart from SealedSecrets use helm charts, but there is a helm chart available now, so let's move to it:

https://github.com/helm/charts/tree/master/stable/sealed-secrets

If someone has specified a private key / secret name then we should use that too and allow an override.

This would let us migrate OFC from one cluster to another retaining the same privat

[2019-01-28 09:52] alexellis commented on #55
After completing this work, raise a PR to the manual instructions in openfaas/openfaas-cloud/docs/README.md

[2019-01-28 10:10] #50 closed

[2019-01-28 10:10] alexellis commented on #50
@M-nana please try again, and I've said it a few times already, but use the ./reset.sh script first, or use ofc-bootstrap on a fresh cluster and then let us know how you get on.

Ivana thanks for fixing. :)

[2019-01-28 14:08] #52 closed

[2019-01-28 14:10] #24 closed

[2019-01-28 16:39] M-nana commented on #50
I will try it! Thank you guys!

[2019-01-28 16:49] alexellis opened #59 "Only create the secrets we need for the user's configuration"
## Expected Behaviour

We should only create the secrets we need for the user's configuration.

## Current Behaviour

We either comment out secrets we don't want or need, or we create them even when we don't need them.

Example: if auth is turned off we should create `of-client-secret` in the cluster.

## Possible Solution

On call with Bart and Ivana, we thought we could detect features enabled f

[2019-01-28 16:50] alexellis commented on #47
Duplicate of #26

[2019-01-28 16:50] #47 closed

[2019-01-28 16:52] alexellis commented on #26
Related - https://github.com/openfaas/openfaas-cloud/issues/363

[2019-01-28 16:54] alexellis opened #60 "Move k8s templates"
## Expected Behaviour

Move any YAML files for Kubernetes to ofc-bootstrap/templates/k8s

[2019-01-30 18:22] alexellis opened #62 "Offer to install IngressController with HostPort"
## Expected Behaviour

We should offer to install IngressController with HostPort for Kubernetes running on bare metal, or where an LB is not available. This could also reduce the cost for testing clusters by removing the need for an LB.

This would also enable the use-case with "k3s" from @ibuildthecloud

## Possible Solution

See the Nginx helm chart on configuring a HostPort / Host networking s

[2019-01-30 18:38] affix commented on #62
:+1:

[2019-02-02 15:23] zeerorg opened #64 "Tiller error in windows"
Getting an error when running ofc-bootstrap on windows in git bash.

## Expected Behaviour
The script shouldn't give an error and continue.

## Steps to Reproduce (for bugs)
Run ofc-bootstrap in windows under git bash.

## Context
Trying to setup openfaas cloud from windows dev machine.

## Your Environment

* FaaS-CLI version 0.8.1:

* Docker version 18.09.1:

* Kubernetes?

* Windows:

* Link to

[2019-02-02 15:30] zeerorg commented on #64
I'll give it a try, totally forgot about that.

[2019-02-02 15:30] alexellis commented on #64
I've not tested outside of Mac/Linux. Could you include the complete output please? WSL sounds like a great option too.

[2019-02-02 15:44] zeerorg commented on #64
The output just continues on like this. with the tiller error. And continues to retry till 260 times.

[2019-02-03 09:56] alexellis commented on #64
ln -s /bin/sh /bin/bash ? Would that help?

[2019-02-03 09:57] alexellis commented on #64
Failing that run it in a Linux Docker image or VM on DO.

[2019-02-05 15:00] alexellis commented on #35
Derek close: Fixed and released.

[2019-02-05 15:00] #35 closed

[2019-02-05 15:01] alexellis commented on #25
Derek close: inactive

[2019-02-05 15:01] #25 closed

[2019-02-05 15:01] #1 closed

[2019-02-05 15:01] alexellis commented on #1
Derek add label: revisit

[2019-02-05 15:01] alexellis commented on #34
Derek close: current solution is good enough.

[2019-02-05 15:01] #34 closed

[2019-02-05 15:02] alexellis commented on #29
Derek close: nice-to-have

[2019-02-05 15:02] #29 closed

[2019-02-05 15:02] alexellis commented on #29
Let's track this through the status / roadmap in the README.

[2019-02-05 20:47] martindekov commented on #59
I can tackle this

[2019-02-05 20:47] martindekov commented on #59
Derek assign: me

[2019-02-07 14:51] #55 closed

[2019-02-08 15:07] burf2000 opened #67 "Template requires do-access-token"
./ofc-bootstrap -yaml=init.yaml with TLS to false still errors because do-access-token is missing

## Expected Behaviour
I believe with TLS off, it should not need do-access-token

## Current Behaviour
CLI:
 commit:  a141dedf94ffeed84412365fd591bdc8999c5a1b
 version: 0.8.3

panic: stat /home/burf2000/Downloads/do-access-token: no such file or directory

goroutine 1 [running]:
main.main()
	/home/bu

[2019-02-08 16:19] zeerorg commented on #64
I think we should close this issue, and specify wsl on windows in docs

[2019-02-08 16:20] zeerorg commented on #67
Can you provide logs ?

[2019-02-09 10:26] alexellis commented on #59
Hi Martin when are you planning to work on this? Are you ok for other people to collaborate?

[2019-02-09 17:58] martindekov commented on #59
I will ask in the Issue, I thought this features thing is about the secret creation only. I was wondering are all those features configured in the `init.yml`. In other words I see `gcp_dns01`  `do_dns01` which I think serve one purpose but with different providers. I see by default `do_dns01` configured here
[code]
But I don't see equivalence for google cloud platform in `init.yml`. Also the GitLa

[2019-02-09 18:33] martindekov commented on #59
Otherwise the secrets filtering is implemented, In the PR above. But the filters I named 1,2,3, ... this is something with which I can get some help. ATM the filtering happens list - list aka. one secret can have multiple features.

[2019-02-10 18:05] #62 closed

[2019-02-10 18:05] alexellis commented on #62
@affix fixed and available

[2019-02-10 20:24] alexellis opened #70 "On Packet / Ubuntu 18.04 ./kubeseal: Permission denied"
## Expected Behaviour

No errors

## Current Behaviour

[code]

## Possible Solution

Verify if anything is needed in the scripts which are running here.

[2019-02-17 18:30] alexellis opened #73 "Add Travis build status label"
## Expected Behaviour

Add Travis build status label to README.md

https://travis-ci.org/openfaas-incubator/ofc-bootstrap

[2019-02-17 19:07] braybaut commented on #73
I wrote this with a coffe:
https://github.com/openfaas-incubator/ofc-bootstrap/pull/74

[2019-02-20 21:01] burtonr opened #76 "Readme updates for better new user readability"
Some suggestions to make the readme easier to read and follow along

## Expected Behaviour

No doubt when "pulling the trigger" and executing the ofc-bootstrap. Knowing that you've completed all the steps, and set all the values properly

## Current Behaviour

Having to read through the readme several times to make sure all the steps were completed and nothing was missed.

Had to go back and forth

[2019-02-21 20:27] alexellis commented on #76
Can we start with some small incremental changes?

[2019-02-23 11:27] alexellis commented on #59
Just to be clear I would not expect a user to see inside init.yaml:

[code]

I am merely listing off the features I think we have right now and need.

We can derive what features are enabled based upon what is set by the user in the code.

[2019-02-23 11:28] alexellis commented on #59
I'd expect secrets to look like:

[code]

[2019-02-25 16:20] tsahi-duek opened #79 "ofc-bootstrap failed to install cert-manager"
When deploying OFC on EKS, cert-manager-webhook pod ends in a CrashLoopBackOff
## Expected Behaviour
cert-manager-webhook Pod should be in Running state

## Current Behaviour
cert-manager-webhook Pod ends in CrashLoopBackOff state

## Possible Solution
There is an issue with API aggregation certificates on EKS (see https://github.com/jetstack/cert-manager/issues/1220 and https://github.com/aws/con

[2019-02-25 18:07] alexellis commented on #79
Hi thank you for raising this issue. Would you like to work on the fix?

Alex

[2019-02-25 19:47] #79 closed

[2019-02-25 19:48] alexellis commented on #79
I've fixed this issue, thank you for reporting it. 👍

[2019-02-25 21:48] alexellis opened #80 "Feature: create pull secret for Kubernetes"
## Expected Behaviour

If using a private remote registry we should create a pull secret in the cluster when using Kubernetes.

## Current Behaviour

When using the Docker Hub we generally auth for pushing, but don't auth for pulling because we use public images. With a private registry users need to add a "pull secret" afterwards. https://docs.openfaas.com/deployment/kubernetes/#use-a-private-reg

[2019-02-25 21:50] alexellis commented on #80
cc @kamaln7

[2019-02-26 05:57] viveksyngh commented on #80
Derek assign: me

[2019-02-28 07:49] viveksyngh commented on #80
https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#registry-secret-existing-credentials

[2019-02-28 07:54] alexellis commented on #80
Looks useful.

[2019-03-02 14:49] viveksyngh commented on #80
@alexellis

I was trying to achieve this in my kubernetes cluster. I was able to create a secret using above kubernetes documentation and pull private images.

But secrets for functions in openfaas cloud  should have name prefixed with github `username`. How are we going to create the secrets for each user ?

[2019-03-02 14:54] viveksyngh commented on #73
Derek close

[2019-03-02 14:55] #73 closed

[2019-03-02 16:26] zeerorg commented on #80
Openfaas cloud pushes all the images to a single registry so we only need a single Pull secret for all users

[2019-03-02 16:27] zeerorg commented on #80
So only your first paragraph is the goal :-)

[2019-03-02 16:50] viveksyngh commented on #80
Let me explain 2nd paragraph with example.

So suppose we created a secret with name `pull-secret` using docker config in `openfaas-fn` namespace.

Now to use that secret with every function we need to pass that secret in `secrets` for each function.
[code]

What I noticed, when openfaas-cloud deploys that function it looks for `githubusername-pull-secret` in my case `viveksyngh-pull-secret`. How

[2019-03-02 17:00] zeerorg commented on #80
Please take a look at https://docs.openfaas.com/deployment/kubernetes/#option-2-link-an-image-pull-secret-to-the-namespaces-serviceaccount
So we need to define this during the kubernetes deploy

[2019-03-02 18:17] viveksyngh commented on #80
Got it .. thanks for pointing. Still learning kubernetes :)

[2019-03-02 20:51] viveksyngh commented on #80
I was thinking for this approach for this. Let me know your thought.

Create `openfaas-fn` name space.

We will create a secret with name `pull-secret` using `config.json`
[code]

Then update the serviceaccount of `openfaas-fn`  and add `pull-secret` to it.

[code]

[2019-03-02 21:56] kamaln7 commented on #80
Nice job @viveksyngh! I think we can consolidate the two registry secrets into one. So take [this existing secret](https://github.com/openfaas-incubator/ofc-bootstrap/blob/e4fa99ca0d9ed3c419671b8e719f45e46876250c/example.init.yaml#L83-L87) and add `.dockerconfigjson` to it. I haven't tried this but I believe this will work:

[code]

We'd still need to add it to the service account like you said

[2019-03-03 07:37] viveksyngh commented on #80
@kamaln7  thanks for suggestion. Only challenge I see here is one needs to be created for `openfaas` namespace and other needs to be created `openfaas-fn` namespace.  We can pass only one namespace for a secret in the config.

[2019-03-03 12:43] kamaln7 commented on #80
Ah, right. So maybe something like this:

[code]

But you'd need support for the secret `type` here https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/pkg/types/secrets.go#L22

[2019-03-03 13:21] alexellis commented on #80
Sounds good. Let's try it?

[2019-03-07 08:07] #80 closed

[2019-03-13 14:38] #59 closed

[2019-03-13 22:07] #27 closed

[2019-03-15 17:10] mbarlow opened #85 "basic_auth removal + secrets filters break deployment"
## Expected Behaviour

Cloning the project, copying example.init.yaml to init.yaml (modify config options for TLS, Oauth, github app, etc), and running ./ofc-bootstrap should deploy to cluster the full installation without errors.

## Current Behaviour

During the installation w/ the current master, the ./scripts/deploy-cloud-components.sh will fail on missing basic-auth secret. Kubectl port forwa

[2019-03-15 17:13] alexellis commented on #85
Please use an older version prior to the change from @mdekov.

Alex

[2019-03-15 17:15] mbarlow commented on #85
No problem, I have it working locally now with the modifications I suggested. Just letting you know there is an issue atm

[2019-03-15 17:26] alexellis commented on #85
Well I'm a bit confused because the guys tested their changes before having them merged. I using the latest release or are you building fresh from master?

[2019-03-15 17:27] alexellis commented on #85
--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-03-15 17:54] mbarlow commented on #85
sorry, I'm building fresh from master

[2019-03-15 18:42] viveksyngh commented on #85
@mbarlow

Can you please retry but adding a feature list to `init.yaml`. This enables those features and creates secret required for those features.

[code]

[2019-03-15 18:47] #85 closed

[2019-03-15 18:48] alexellis commented on #85
@viveksyngh - there is no `features` list in `init.yaml`. The features are derived from what is enabled/turned on. FYI basic_auth for the gateway _must never be disabled_ and this is an unsupported scenario.

I've moved the filter to `default` however. Can you confirm whether this resolves the issue?

[2019-03-15 18:55] alexellis opened #86 "Use kubectl rollout status instead of looping"
We can use the blocking command
## Expected Behaviour

We can use `kubectl rollout status` instead of looping to see if various services / deployments have come up / are ready. Found this out via @zeerorg

## Current Behaviour

We are looping in code.

## Possible Solution

Try out `kubectl rollout status` instead for things like checking cert-manager / SealedSecrets / Tiller etc are up and ready

[2019-03-15 18:56] alexellis opened #87 "Skip cert-manager if "tls: false""
## Expected Behaviour

Skip installing, adding and waiting for cert-manager if "tls: false"

## Current Behaviour

We install it anyway and wait for it to get ready.

## Possible Solution

Remove it

## Steps to Reproduce (for bugs)

1. Skip cert-manager if "tls: false" and see cert-manager (which creates TLS certificates) getting installed

[2019-03-15 19:25] alexellis commented on #87
/close: fixed by @alexellis

[2019-03-15 19:25] #87 closed

[2019-03-15 20:17] martindekov commented on #85
Hello @mbarlow I apolagize for the confusion, had my own `init.yml` with which I tested and possibly forgot to add the changes to the example one. Changin the In general if you want secret created/is mandatoy apply `default` filter. Otherwise the `scm-github` -> `scm_github` is fixed in [this PR](https://github.com/openfaas-incubator/ofc-bootstrap/pull/84) but forgot it is a breaking change.

[2019-03-25 10:28] #67 closed

[2019-03-25 10:28] alexellis commented on #86
@zeerorg WDYT?

[2019-03-25 10:36] zeerorg commented on #86
This could give a lot better command line experience with the tool.
I'll pick this up in a few days.

[2019-03-25 18:33] alexellis opened #88 "Publish binary upon GitHub release"
We should publish a binary upon GitHub release. Checkout alexellis/inlets as an example of how this is done.

[2019-03-27 08:57] LucasRoesler opened #90 "Proposal: use context to control ExecTask timeout"
While reviewing #89 I thought about how to set a timeout on the rollout commands.  Go provides a `CommandContext` that is designed to allow you to cancel a command via a context cancel. See https://golang.org/pkg/os/exec/#CommandContext

We should update `func (et ExecTask) Execute() (ExecResult, error)` to accept a context so that the caller can set a timeout and explicitly control the max length

[2019-03-27 11:43] rjpalermo1 opened #91 "Just an Idea: Kong to replace the NGINX controller"
Proposed idea:  Optionally replace the NGINX Ingress with NGINX-based Kong controller.

## Expected Behaviour

Use Kong as the K8 ingress controller to realize the benefits of an API gateway protecting the OpenFaas endpoints.  Not many people want their functions exposed to the public Internet and additionally not all want to have a seperate https URL for each endoint.  Would be great to have Kong

[2019-03-27 12:01] #91 closed

[2019-03-27 12:01] alexellis commented on #91
Derek add label: wontfix

[2019-03-27 12:02] alexellis commented on #91
You're welcome to deploy OpenFaaS Cloud manually and make use of whatever ingress controller you prefer.

https://github.com/openfaas/openfaas-cloud

Alex

[2019-03-27 12:07] rjpalermo1 commented on #91
ok thanks.  I will figure it out.

appreciate your wizardry here Alex.

[2019-03-28 12:04] zeerorg commented on #86
Addressed by PR #89

[2019-03-30 13:52] alexellis opened #94 "Add feature flag for Dockerfile template"
## Expected Behaviour

Support for lang: dockerfile should be configurable as per - https://github.com/openfaas/openfaas-cloud/pull/422

## Current Behaviour

Off by default

## Possible Solution

Expose the configuration option in the init.yaml file and then read it and template the configuration accordingly.

## Steps to Reproduce (for bugs)

When fixed you can do:

1.  Enable dockerfile type in

[2019-03-31 17:05] sterchelen commented on #94
I take it !

[2019-03-31 17:13] alexellis commented on #94
How long do you think it will take you to do this task?

[2019-03-31 18:11] sterchelen commented on #94
Just create a working environment for the openfaas's projects... I would
say for Wednesday.

Is it urgent?

On Sun, 31 Mar 2019, 19:13 Alex Ellis, <notifications@github.com> wrote:

[2019-03-31 18:16] matipan commented on #94
@sterchelen I already did some work, if you want we can chat a bit in openfaas's slack about this 👍

[2019-03-31 18:42] sterchelen commented on #94
Yep Matias!

On Sun, 31 Mar 2019, 20:16 Matias Pan, <notifications@github.com> wrote:

[2019-03-31 19:51] alexellis commented on #90
^ this is part of `kubectl`

[code]

[2019-04-01 06:58] #94 closed

[2019-04-01 09:35] sterchelen commented on #70
I can take this issue !

[2019-04-01 09:38] alexellis commented on #70
Thank you 👍

[2019-04-06 20:28] alexellis commented on #86
@zeerorg please use Derek to close this issue

[2019-04-06 20:34] zeerorg commented on #86
👍

[2019-04-07 17:11] alexellis opened #97 "Feature: add config option for scale to zero (enable faasIdler)"
## Expected Behaviour

The user should set a new flag in init.yaml called `scale_to_zero` or similar.

https://github.com/openfaas/faas-netes/tree/master/chart/openfaas#configuration

## Current Behaviour

Users can update this manually.

## Possible Solution

This should be passed through to https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/scripts/install-openfaas.sh#L6 where it ca

[2019-04-07 17:12] alexellis commented on #97
Similar closed / completed PR: https://github.com/openfaas-incubator/ofc-bootstrap/pull/95

[2019-04-07 17:29] alexellis opened #98 "Maintenance: sync all stack.yml / gitlab.yml image versions/labels"
## Expected Behaviour

We should regularly sync the templated stack.yml in this repo for OpenFaaS Cloud and the upstream untemplated file in the openfaas/openfaas-cloud repo.

This task is to sync all image versions and labels in:
* stack.yml
* gitlab.yml

(source)
Non-templated files: https://github.com/openfaas/openfaas-cloud

(target)
Templated files: https://github.com/openfaas-incubator/ofc-b

[2019-04-07 21:30] matipan commented on #97
I can pick this up 👍

[2019-04-07 21:30] matipan commented on #97
Derek assign: me

[2019-04-09 21:14] alexellis opened #99 "Error with gateway_config.yml template"
## Current Behaviour

[code]
This happened on Linux with `enable_dockerfile_lang: true` in `init.yaml`

I also had the following errors after that:

[code]

I assume these are related due to the issue stopping the template flow.

[2019-04-09 21:15] alexellis commented on #99
@matipan @zeerorg please could you take a look?

[2019-04-09 21:20] alexellis commented on #99
I used https://github.com/openfaas-incubator/ofc-bootstrap/tree/0.5.7 - but updating to a build from master may resolve the issue.

[2019-04-09 22:50] matipan commented on #99
I see that 0.5.7 does not have the gatewayConfig struct updated with the `EnableDockerfileLang` field: https://github.com/openfaas-incubator/ofc-bootstrap/blob/0.5.7/pkg/stack/stack.go

I'm about to install ofc on GKE using ofc-bootstrap master. I'll let you know how it goes

[2019-04-09 22:50] matipan commented on #99
Derek assign: me

[2019-04-09 22:52] alexellis commented on #99
Thank you. The 0.6.0 binary is available now

[2019-04-09 23:16] matipan commented on #99
@alexellis I just deployed an ofc cluster using 0.6.0. It worked great with both dockerfile support and custom templates 🎉

I believe this error message was expected since the template had a field that the struct did not.

Do you want to try again with 0.6.0 or should we close?

[2019-04-10 07:02] alexellis commented on #99
I've tried it with the new release today and I was unable to reproduce the error.

This makes things a little complicated - we have a chicken & egg problem when merging patches to the example.init.yaml and cutting a new release.

For the time the yaml file is changed, the latest binary release will crash if a user pulls it down before someone kicks off a release build and Travis completes that.

[2019-04-10 07:02] #99 closed

[2019-04-12 09:23] alexellis opened #100 "Set OpenFaaS image pull policy to IfNotPresent"
## Expected Behaviour

Images are immutable so never need to be pulled than once, this can just generate additional cold-start latency

## Current Behaviour

Set the OpenFaaS controller image pull policy to `IfNotPresent` rather than `Always`

This option is available via helm: https://github.com/openfaas/faas-netes/tree/master/chart/openfaas#configuration

## Steps to Reproduce (for bugs)

0. Dep

[2019-04-24 18:51] alexellis opened #101 "Switch to httpProbes"
## Expected Behaviour

We can reduce CPU overhead by using httpProbes in the helm chart when installing OpenFaaS via helm.

## Current Behaviour

exec healthchecks are being used

[2019-04-24 18:53] alexellis opened #102 "Force non-root for all functions"
All functions currently run as non-root given that they must use certain templates which are non-root. The Dockerfile template is currently turned off but represents a way that a user can turn root back on.

This change would use the PR from faas-netes and update the helm chart installation flags.

https://github.com/openfaas/faas-netes/pull/417

[2019-04-24 18:54] alexellis commented on #97
Thanks @matipan

[2019-04-24 19:16] alexellis commented on #102
Depends on: https://github.com/openfaas/faas-netes/issues/420

[2019-04-26 18:06] matipan commented on #97
I completely forgot about this. I'm starting it now :+1:

[2019-04-26 19:34] #97 closed

[2019-04-29 21:14] #98 closed

[2019-05-06 20:04] matipan opened #104 "Feature: Support the new build_branch variable"
Recently OFC introduced a [new feature](https://github.com/openfaas/openfaas-cloud/issues/425)(not officially released yet) that gives users the possibility of choosing the branch that will be used for CI/CD.

## Expected Behaviour

Users will specify the branch that will be used through a variable on their own `init.yaml` file. The bootstrap will use that variable when installing OpenFaaS Cloud.

[2019-05-07 19:28] martindekov opened #105 "Outdated function images"
Due to functions being unable to be deployed in case missing secrets for GitHub/GitLab we had to add the `stack.yml` from openfaas-cloud. Those images need double update in openfaas-cloud and here in order to be latest versions. Recently new features to openfaas-cloud were added which means we should follow along the stack.yml from openfaas-cloud here.

## Expected Behaviour

Image versions/tags t

[2019-05-07 19:29] martindekov commented on #105
Derek add label: good first issue, help wanted

[2019-05-07 21:20] matipan commented on #105
@martindekov derek is doing the same thing to you. I tried adding labels on a different issue and it did not work. Adding labels on separate comments worked ok though

[2019-05-09 16:14] alexellis opened #106 "Pin to specific version of openfaas-cloud GitHub repo"
## Expected Behaviour

Changes to master in openfaas-cloud should not break or affect the bootstrap process, which is user-facing.

## Current Behaviour

Changes affect users immediately.

## Possible Solution

Pin to a specific git tag (release) - pick the latest available on the releases page.

[2019-05-09 16:16] alexellis commented on #106
This needs to be complete and merged before https://github.com/openfaas/openfaas-cloud/pull/452

[2019-05-09 16:16] alexellis commented on #106
https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/scripts/clone-cloud-components.sh

[2019-05-09 16:42] alexellis opened #107 "Updates for edge-router/auth rename"
## Expected Behaviour

We need to update any templated files around the of-router/auth component which will be renamed to edge/auth-router.

## Current Behaviour

Can't merge the upstream PR at this point until we fix the current version this tool uses via #106

## Possible Solution

Once the following is merged, we can go ahead and merge this, work on it can start already though.

https://github.

[2019-05-09 17:07] #106 closed

[2019-05-09 17:16] alexellis opened #109 "Test switching to httpProbe"
## Expected Behaviour

We can save resources by using the httpProbe

## Current Behaviour

We have it set to `false` and should update it in the install.

## Possible Solution

Update the deployment script for openfaas-cloud

[2019-05-09 17:17] matipan commented on #109
Derek assign: me

[2019-05-09 17:17] #109 closed

[2019-05-09 17:18] alexellis commented on #107
Fixed by #108

[2019-05-12 07:40] alexellis commented on #105
@marbar3778 @matipan sorry that this is a bit of a moving target. Can we have another go at this and make sure everything is in sync?

[2019-05-16 07:50] alexellis opened #111 "Add network policies by default"
## Expected Behaviour

The network policies that control function access to the openfaas ns should be enabled and installed by default, with an option to disable in the init.yaml file.

Network policy PR: https://github.com/openfaas/openfaas-cloud/pull/455

## Possible Solution

Follow the same steps we did for adding the `dockerfile` language or one of the other flags like `scale_to_zero`.

## Si

[2019-05-16 09:05] martindekov commented on #111
I suppose I should add another line in [deploy-cloud-components.sh](https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/scripts/deploy-cloud-components.sh) checking if `init.yml` file is enabled if so `kubectl apply -f ./tmp/openfaas-cloud/yaml/network-policy` I hope I got the context right? If so I can go ahead and start it ?

[2019-05-16 10:10] alexellis commented on #111
Yes that's basically it as far as I'm concerned 👍

[2019-05-16 20:31] martindekov commented on #105
I was wondering is there a need for an Issue to stay open like this? Since this is a never ending task. Like we do with the organizations thing (for when someone is using openfaas to add its logo to the site)

[2019-05-16 20:31] martindekov commented on #105
Like add tracking label or `Tracking Issue: Outdated function images `

[2019-05-28 07:22] alexellis commented on #105
@martindekov when you have time today, please can you check the PR and update any other image versions missing in the stack.yml or gitlab.yml?

[2019-05-28 07:23] alexellis commented on #25
@matipan @zeerorg @martindekov  should we revisit, or wait for user-demand?

[2019-05-28 07:43] martindekov commented on #105
Yeah, of course

[2019-05-28 07:50] martindekov commented on #25
I think this is a great Idea, It will be fairly easy implementation I think ATM though I can't take this as I am overcrowded with the university. I see how this will be implemented I think it will be perfect for new contributors I can give guidelines.

[2019-05-28 12:38] matipan commented on #25
I think it's a good idea to have this implemented. This aligns well with the work that would be done here on #104

[2019-05-29 00:55] chriskolenko opened #116 "GCP system.{{RootDomain}} DNS not resolving"
I had an issue GCP not resolving system.RootDomain via the *.RootDomain A record.

I believe this is GCP related issue and I haven't tested else where.

In the getting started guides it does point people to create an A record for system.{{RootDomain}}. In Kubernetes I'm using external dns, to avoid having to update DNS on changes. This Issue is suggesting a small addition to Ingress to help people

[2019-05-29 09:52] alexellis commented on #116
I'm not sure that I follow the problem.

You don't want to use cert-manager to fetch your TLS certificates using Cloud DNS?

[2019-05-30 08:23] #111 closed

[2019-06-17 14:25] BrynnonPicard opened #118 "Question: use without Kubernetes LoadBalancer"
## Expected Behaviour
When I run the command "kubectl get svc" after successfully running ofc-bootstrap, the LoadBalancer created by ofc-bootstrap should have an External-IP address that can be used to configure DNS as mentioned in the [guide](https://github.com/openfaas-incubator/ofc-bootstrap).

## Current Behaviour
The LoadBalancer "nginxingress-nginx-ingress-controller" created by ofc-bootstra

[2019-06-17 14:29] alexellis commented on #118
Hi @BrynnonPicard can you confirm that you've read the section about on Cloud LoadBalancers?

https://github.com/openfaas-incubator/ofc-bootstrap/#decide-if-youre-using-a-loadbalancer

Quote:

It seems like you may not have read this section, or perhaps we need to do a better job of explaining it?

Alex

[2019-06-17 15:37] BrynnonPicard commented on #118
Hi @alexellis, thanks for responding so quickly. I did read that section, but didn't understand what steps to take in the case of not running on a managed Kubernetes server. It would be quite helpful to have some additional instructions for that case for those of us that aren't very experienced with Kubernetes. I'm going to try setting up a managed Kubernetes server now, and hopefully that will so

[2019-06-17 18:44] alexellis commented on #118
It is described just here:

OpenFaaS Cloud Bootstrap uses DNS entries for routing from Nginx and for TLS.

You can work around this, but if you're not super comfortable with Kubernetes, I wouldn't recommend it.

Cloud-based Kubernetes (i.e. DigitalOcean Kubernetes) - use a LoadBalancer and populate its DNS records with that IP

On-premises, local or remote cluster without LoadBalancer - use the `i

[2019-06-17 18:45] alexellis commented on #118
Derek close: not an issue, but feel free to continue to seek technical support on Slack.

[2019-06-17 18:45] #118 closed

[2019-06-22 20:11] matipan commented on #104
@alexellis I think this is a good way towards multi-tenancy for different openfaas-cloud installations on a single cluster. This would be an addition to what we have discussed of multi-tenancy. Users would be able to have multiple openfaas cloud installations on various namespaces + have multiple namespaces for functions per group/team/developer.
For example, we could use `ofc-bootstrap` to instal

[2019-07-16 08:15] alexellis opened #119 "SealedSecrets step failing on DigitalOcean with doctl"
## Expected Behaviour

No errors

## Current Behaviour

[code]

## Possible Solution

Reproduce and investigate the error.

[2019-08-13 07:02] alexellis opened #121 "Action required: Update to cert-manager 0.8.0"
## Proposed change

Update to cert-manager 0.8.0

## Context

I had an email from LetsEncrypt saying that versions < 0.8.0 will be deprecated and blocked by LetsEncrypt from November.

Here is the web version: https://community.letsencrypt.org/t/blocking-old-cert-manager-versions/98753

## Your Environment

Kubernetes

[2019-08-13 07:03] alexellis opened #122 "Action Required: Update to cert-manager 0.8.0"
## Proposed change

Update to cert-manager 0.8.0

Full end to end testing will be required.

Be careful to see all the upgrade notes: https://docs.cert-manager.io/en/latest/tasks/upgrading/upgrading-0.7-0.8.html

## Context

I had an email from LetsEncrypt saying that versions < 0.8.0 will be deprecated and blocked by LetsEncrypt from November.

Here is the web version: https://community.letsencry

[2019-08-14 09:31] alexellis opened #123 "Add kubectl during CI to pass validation"
## Expected Behaviour

CI should pass, but it's breaking due to kubectl not being present on the machine.

## Possible Solution

Add if not present

## Steps to Reproduce (for bugs)

See the build logs using the link on the README.md file

[2019-08-14 17:27] alexellis commented on #119
Given we are 1 month on without a resolution I will take over this one.

[2019-08-14 17:28] alexellis commented on #119
This only happens with DigitalOcean Kubernetes and separate 2 users have reported it to me on Slack.

The workaround is to the following:

* download the `KUBECONFIG` file
* run `export KUBECONFIG=PATH_TO_FILE`

Then continue as per normal. It appears that the way the `doctl` saves the authentication token into a KUBECONFIG file is incompatible with the sealed secrets CLI.

https://github.com/bitn

[2019-08-14 17:30] alexellis commented on #121
Duplicate of https://github.com/openfaas-incubator/ofc-bootstrap/issues/122

[2019-08-14 17:30] #121 closed

[2019-09-06 08:44] alexellis opened #125 "[Feature request] Validate Docker registry credentials before proceeding"
## Expected Behaviour

We can validate that the Docker registry credentials passed by a user, have an entry for the "registry" that they specified in the `init.yaml`

The other thing we can check is that they are not using a `credStore`

## Current Behaviour

User will eventually work it out by troubleshooting error messages. i.e @doowb has this issue.

## Possible Solution

* Create a struct for

[2019-09-06 08:57] alexellis commented on #125
Normally `~/.docker/config.json` - there might be some code in `openfaas/faas-cli` that could help with parsing the file, if we can avoid adding a dependency to Docker it would be better.

[2019-09-06 09:58] rajibmitra commented on #125
I am working on this. @alexellis

[2019-09-06 12:11] arshchimni commented on #123
Would you like to exit out of ci.sh if kubectl is not present? @alexellis

[2019-09-06 12:14] alexellis commented on #123
That sounds good.

Please could you send a pull request to add kubectl to the CI machine?

As far as I am aware this is the reason that CI is currently failing

[2019-09-06 14:21] alexellis commented on #125
No problem

[2019-09-06 15:01] doowb opened #130 "ofc-bootstrap -version flag does not show any version information"
## Expected Behaviour

When running `ofc-bootstrap -version` I expect the version of the cli to be printed and the cli to exit.

## Current Behaviour

![image](https://user-images.githubusercontent.com/995160/64437735-d5aaf980-d094-11e9-9f7a-6c8cb824b773.png)

## Possible Solution

I'm not familiar enough with Go or this cli to know if the version is available at runtime, but if it is, then it sho

[2019-09-06 15:32] alexellis commented on #130
Thanks for logging this.

[2019-09-06 19:22] #130 closed

[2019-10-04 18:01] michaelkacher opened #132 "Having a dash character '-' in CUSTOMERS repository causes unauthorized error"
I originally had tried leveraging ofc-bootstrap pointing to the following CUSTOMERS file in the init.yml: https://raw.githubusercontent.com/golanghouston/of-test/master/CUSTOMERS

When I would log in to http://system.example.com/dashboard/<username>it properly redirects to github for authorization and when it redirects back to OpenFaaS Cloud you would receive an unauthorized.  This was resolved by

[2019-10-15 09:59] alexellis opened #134 "Replace use of $GOOS-$GOARCH with `uname`"
## Expected Behaviour

Replace use of `$GOOS` / `$GOARCH` with `uname` so that users do not need to install Golang to run the binary tool.

## Current Behaviour

GOOS / GOARCH are currently used by the SealedSecrets step to export the public key.

## Possible Solution

Construct an equivalent string using one of the `uname` options shown on `uname --help`

https://github.com/openfaas-incubator/ofc

[2019-10-19 19:29] sterchelen commented on #134
@alexellis I would like to take in charge this issue.

[2019-10-21 15:35] alexellis commented on #134
Closed via #137

Please add "Closes: #ISSUE" into your next PR :-)

Thank you

Released in: https://github.com/openfaas-incubator/ofc-bootstrap/releases/tag/0.7.5

[2019-10-25 09:37] alexellis opened #138 "Update to cert-manager 0.11.0 from 0.10.0"
## Expected Behaviour

I would like cert-manager 0.11.0 to work out of the box

## Current Behaviour

We are pinning to 0.10.0

## Possible Solution

There are some breaking changes with annotations and potentially other areas that need addressing.

https://docs.cert-manager.io/en/release-0.11/

See [Upgrading from v0.10 to v0.11](https://docs.cert-manager.io/en/release-0.11/tasks/upgrading/upgrad

[2019-10-25 15:06] alexellis commented on #138
References I could find with a quick search:

https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/pkg/tls/tls.go

https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/templates/issue-prod.yml

https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/templates/k8s/ingress-auth.yml

https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/templates/k8s/ingress-wi

[2019-10-26 09:23] Waterdrips commented on #138
Ill start to work through this.

[2019-10-26 19:36] alexellis commented on #138
Thank you

[2019-10-27 06:59] Waterdrips commented on #123
@alexellis is this still an issue?

[2019-10-27 07:00] Waterdrips commented on #122
@alexellis is this not required anymore?

[2019-10-27 08:49] Waterdrips commented on #125
@rajibmitra - Any updates on this? I got stung by this today (using macos keychain)

[2019-10-27 08:54] alexellis commented on #125
@Waterdrips please take this.

We should be able to do this without vendoring code from Docker, just with a simple struct to see if th registry as a value in base64.

[2019-10-27 08:54] #134 closed

[2019-10-27 08:54] #123 closed

[2019-10-27 08:54] alexellis commented on #123
No, I fixed it

[2019-10-27 08:55] #116 closed

[2019-10-27 08:55] #107 closed

[2019-10-27 08:55] #105 closed

[2019-10-27 08:55] #122 closed

[2019-10-27 08:55] alexellis commented on #122
It was completed.

[2019-10-27 08:55] #101 closed

[2019-10-27 08:55] #88 closed

[2019-10-27 08:56] #119 closed

[2019-10-27 08:56] #132 closed

[2019-10-27 08:56] alexellis commented on #132
This was found to be a red herring / false error.

[2019-10-27 09:00] alexellis commented on #100
@Waterdrips ?

[2019-10-27 09:00] alexellis commented on #104
@Waterdrips ?

[2019-10-27 09:04] Waterdrips commented on #104
Derek /assign me

[2019-10-27 09:09] Waterdrips commented on #76
Might be good to have a section at to bottom of each section with "expected changed variables" so you can make sure they are all completed for sections you are interested in?
(having just done my first ofc install)

[2019-10-27 09:12] Waterdrips commented on #104
Derek assign: me

[2019-10-27 09:14] Waterdrips commented on #100
Derek assign: me

[2019-10-27 09:17] #138 closed

[2019-10-29 14:12] alexellis commented on #104
This was implemented upstream in PR: https://github.com/openfaas/openfaas-cloud/pull/441

[2019-10-30 08:35] Waterdrips commented on #104
@alexellis Do we want to add the branch name to all namespaces if it's not pointing master? Is OFC-Bootstrap not meant for the "one click" simplest deployment of OFC?

Part of me thinks the docs would get confusing, the troubleshooting commands would all need an explanation of "if you selected a branch that was not master then you need to use namespace openfaas-{{branch_name}}" section?

Another p

[2019-10-30 09:12] alexellis commented on #104
I don't follow the question. ofc-bootstrap is the tool that configures OpenFaaS Cloud as an opinionated distribution and this is a feature which is already implemented upstream and we need to bubble it up for several users.

[2019-10-30 09:18] Waterdrips commented on #104
@matipan suggested
`Something worth considering is whether we want to add the name of the branch to the namespaces, i.e openfaas-develop instead of openfaas and openfaas-fn-develop instead of openfaas-fn. This could be useful when users want to have different OpenFaaS Cloud installations on the same cluster. This will allow them to use the bootstrap tool to provision as many ofc's as they need.`

[2019-10-30 11:30] alexellis commented on #104
Sorry I missed that context from Matias given that it was suggested quite some time ago.

Can we just go ahead as planned for the first version of this so that we can get some feedback from users?

[2019-10-30 11:31] alexellis commented on #104
Rather than stretching `build_branch` I would like us to focus on https://github.com/openfaas/openfaas-cloud/issues/530 next

[2019-10-30 22:35] Waterdrips commented on #100
Good spot @alexellis

I have re-worked this and the image below shows the image_pull_policy env var on the gateway pod set to IfNotPresent.

![image](https://user-images.githubusercontent.com/40488132/67904132-6c5fd800-fb65-11e9-9d9a-a83d1e17c5e3.png)

[2019-10-31 07:54] #100 closed

[2019-10-31 09:49] csakshaug opened #144 "Support for dry-run/generate-only mode"
When working with ofc-bootstrap in a daily based for developing but also make it ready for production through more automation, it could be helpful to execute the ofc-bootstrap, so it only updates the tmp/generated-* files and runs them with dry-run.

## Expected Behaviour
The ./tmp/generated-* files will be updated
Nothing is apply to the cluster/installation

## Current Behaviour
Today you either

[2019-11-02 23:14] csakshaug opened #150 "Support to update secrets multiple times"
It could be nice to have possible not only create secrets the first time you run ofc-bootstrap, but it could also be helpful to update all the secrets at once if need or make it easier for testing/developing

## Expected Behaviour
Instead of running multiple `kubectl create` commands we collect all of the secrets in own yaml file that we apply with `kubectl apply -f secrets.yaml`

## Current Behav

[2019-11-03 10:52] Waterdrips opened #152 "Proposal: Add registry login command to ofc-bootstrap"
It would be great to be able to provide a command to create the config.json registry secret file using ofc-bootstrap. Some users have the secrets helper installed by default with docker and the login command stores the secrets outside of the file.

## Expected Behaviour

A user should be able to run `ofc-bootstrap --registry-login` with `--username` `--password-stdin` (or `--password`) and optiona

[2019-11-03 17:05] #125 closed

[2019-11-03 17:14] alexellis commented on #152
I think it would be a sub-command `docker-login` or `registry-login` or `generate registry-login`

Then the server ARG would be needed and like you say `--username`. I think only having `--password-stdin` is fine.

Output file should perhaps be in the same folder by default? Not sure.

[2019-11-03 17:14] alexellis commented on #152
Please go ahead with this. It doesn't actually have to validate the user's password, just generate a base64-encoded Docker config json file.

Another thought is what we can do for AWS ECR users, we could just take different flags for them perhaps and generate the equivalent file.

[2019-11-04 08:04] LucasRoesler commented on #152
This is a good idea, this part definitely slowed me down when I was trying the bootstrap.  I think it might actually be ok to have a dedicated subfolder for credentials and other custom fields.  We can easily ignore the whole folder and be certain it is never committed to a repo

[2019-11-04 08:07] alexellis commented on #152
@csakshaug has some ideas about secret management too

[2019-11-04 08:59] Waterdrips commented on #152
derek assign: me

[2019-11-04 08:59] Waterdrips commented on #152
Derek assign: me

[2019-11-04 10:16] alexellis commented on #152
Also `/` can take the place of the text `Derek`

[2019-11-05 07:30] csakshaug opened #154 "Way to overrides values in template/gateway_config.yml"
Today the `templates/gateway_config.yml` includes many essential values. Some of them are exposed to overrides in `init.yaml` But several are not. I think the best approach is to have default possible to override all "changeable" values. For `gateway` config template we are almost there, the are three values sticking out. [L30-L32](https://github.com/openfaas-incubator/ofc-bootstrap/blob/6accd2fbe

[2019-11-05 07:42] csakshaug opened #155 "ECR registration dont respect the "registry" region"
The `register_image` function is using today a `registry_url` to register the new ECR register, the `register_url`  have  `aws account id`, `region` as part of the URL. The problem is that even if you have a region inside the URL the function will not use it. It uses it an environment variable `AWS_DEFAULT_REGION` that has a default value [eu-central-1](https://github.com/openfaas/openfaas-cloud/b

[2019-11-07 19:57] alexellis commented on #155
Would you like to work on this?

[2019-11-07 20:47] csakshaug commented on #155
Yes I could

[2019-11-11 14:37] alexellis commented on #154
Approved 👍

[2019-11-14 15:48] alexellis opened #158 "Add Linkerd as add-on"
Add Linkerd as add-on

## Expected Behaviour

It'd be great to be able to pick `linkerd_enable: true` in init.yaml or something similar to that and have it download their CLI, and bootstrap, then inject the appropriate headers for the edge-router ingress to enable TLS, including the inject statements for the `openfaas-fn` namespace etc

As per - https://github.com/openfaas-incubator/openfaas-linke

[2019-11-17 08:20] Waterdrips commented on #158
/assign: me

[2019-11-29 11:39] alexellis opened #159 "Feature: Offer a DNS01 provider for Cloudflare"
Some clients need to use Cloudflare for their DNS configuration with cert-manager.

## Expected Behaviour

A feature like DO / Route53 / Google Cloud DNS, but for Cloudflare

## Current Behaviour

Users can configure it manually or via YAML

## Possible Solution

Examine the code / approach for DO or Route53 and replicate for Cloudflare.

If help is needed with testing please shout when the PR is

[2019-11-29 11:40] alexellis commented on #159
Issuer code - https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/pkg/tls/tls.go#L25

Issuer template - https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/templates/issue-prod.yml

Issuer YAML configuration - https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/example.init.yaml

Feature determination - https://github.com/openfaas-incubator/ofc-bootstrap/blob/6a

[2019-11-29 11:48] Waterdrips commented on #159
/assign: me

[2019-11-29 12:38] #159 closed

[2019-11-29 15:36] Waterdrips opened #161 "Move to using faas-cli to download kubeseal secret"
We should move to using faas-cli to fetch the kubeseal secret from the cluster once its created rather than using bash,
This is now possible because of this feature https://github.com/openfaas/faas-cli/pull/730

## Current Behaviour
Bash script is used to pull the secret to the local computer

## Possible Solution
Use faas-cli
[code]

This would reduce the operational burden of maintaining the bas

[2019-12-04 09:37] alexellis opened #163 "Enable multiple YAML files for "apply""
Enable multiple YAML files for "apply"

## Expected Behaviour

As inspired by Kustomize, helm and an experimental app by @csakshaug, we should allow users to provide > 1 file for `apply`:

[code]

The files will be merged, this means that `production.yaml` only needs overrides adding such as the domain name or registry address, and everything else is taken from upstream. It also means if changes a

[2019-12-04 09:37] alexellis commented on #163
Dependent on merge of: https://github.com/openfaas-incubator/ofc-bootstrap/pull/162

[2019-12-10 22:23] Waterdrips commented on #64
/close

[2019-12-10 22:23] #64 closed

[2019-12-11 20:02] cellerich opened #165 "Error in `generated-tls-issuer-staging.yaml` when used with Cloudflare DNS Service"
When running ofc_boostrap with **Cloudflare** as the DNS Service and the **issuer_type: "staging"** the file **generated-tls-issuer-staging.yml** is missing the section about the Cloudflare entities

## Expected Behaviour
The file should look like this:
[code]

## Current Behaviour
The generated file looks like that:
[code]

## Steps to Reproduce (for bugs)
run **ofc_bootstrap** with the following

[2019-12-11 20:35] alexellis commented on #165
Do you want to work on a fix for it? There's a unit test that matched the Jetstack documentation. Do you think it may be wrong?

[2019-12-11 21:19] cellerich commented on #165
Just found the Error in the file `templates/k8s/tls/issuer-staging.yml`

this would be the fix:
[code]

The section ` {{else if eq .DNSService "cloudflare" }}` is missing there.

Sorry, never did a Pull Request on a Open Source Project. Might go into it later on this or next year.
But I hope the pointer helps as well.

[2019-12-11 21:31] alexellis commented on #165
Thank you.

@Waterdrips please could you take a look?

[2019-12-12 11:56] alexellis commented on #165
I believe that the production issuer was updated correctly with the original patch, but the staging issuer was missed. I've now brought them both into alignment.

Please take a look again @cellerich ?

Alex

[2019-12-12 15:11] cellerich commented on #165
@alexellis: Looks good to me!
Can be closed and will work in the next release I guess.

Thanks.

[2019-12-12 21:52] #165 closed

[2019-12-12 21:53] alexellis commented on #165
This shouldn't need a release, you can just do a git pull and deploy again.

[2019-12-13 10:03] #152 closed

[2019-12-19 11:41] alexellis commented on #155
@Waterdrips is this still an issue?

[2019-12-19 12:41] Waterdrips commented on #155
looks like it:
https://github.com/openfaas/openfaas-cloud/blob/54b9ff24257792fc8c555d5b61ad1e8b294220fc/register-image/handler.go#L57

This line (above) grabs the env var which we dont have a way of overriding for ofc-bootstrap.

we could add this as an option in init.yaml and then create a templated aws.yml that overrides it?

[2019-12-19 13:10] Waterdrips commented on #155
@csakshaug can I work on this or did you have a solution on the way?

[2019-12-19 13:43] Waterdrips commented on #155
/assign: me

[2019-12-22 17:16] filipproch opened #168 "Getting Failed to connect to 127.0.0.1 port 31111: Connection refused"
## Expected Behaviour
Installation should complete successfully.

## Current Behaviour
Installations ends with a lot of

And the OpenFaaS Cloud doesn't work (tried multiple times, used `./scripts/reset.sh` every time)

## Steps to Reproduce (for bugs)
1. ofc-bootstrap apply -f init.yaml
2. wait...

## Context
Trying to deploy OpenFaaS cloud on my cluster

## Your Environment
* `faas-cli version` (

[2019-12-22 17:28] alexellis commented on #168
Please put the full logs into a gist and link it here.

What GitLab version is this? What you mean mean by "on DigitalOcean"? Are you using DOKS or your own kubernetes installation?

[2019-12-22 17:28] alexellis commented on #168
/set title: GitLab support request

[2019-12-22 17:28] alexellis commented on #168
Cc @martindekov

[2019-12-22 17:36] filipproch commented on #168
GitLab version: GitLab Enterprise Edition 12.6.0-ee
Gist: https://gist.github.com/filipproch/737f44708c6ae5e733d31925a5deeaf5

[2019-12-22 17:37] filipproch commented on #168
DigitalOcean - using DOKS, created new Cluster from the Web UI (same as the "Video" example shows)

[2019-12-22 17:41] alexellis commented on #168
Given the error messages it looks like you've run the reset or run the tool more than once. Why don't you try running it on a fresh cluster?

[2019-12-22 17:43] filipproch commented on #168
yeah I run it again now (with a reset before), to generate the log file, the first time (still with error), it was on a fresh cluster
will try again then

[2019-12-22 17:43] alexellis commented on #168
Did you run through the whole troubleshooting guide already to see what might have gone wrong? Did you ensure that your cluster than meets the minimum requirements for RAM and nodes?

https://docs.openfaas.com/deployment/troubleshooting/

https://docs.openfaas.com/openfaas-cloud/self-hosted/troubleshoot/

[2019-12-22 18:06] filipproch commented on #168
The same run on a fresh cluster
https://gist.github.com/filipproch/a8026157bd54d642468a31cbfca092ea

Parameters are exactly the same as in demo video (3 nodes, 4GB 2vCPU)

I looked at the troubleshooting but I am not Kubernetes expert, just starting with it and interested in OpenFaaS and this script does a lot of stuff. From what I see, for some reason, OpenFaaS doesn't start.

Also, this error is

[2019-12-22 19:05] alexellis commented on #168
/msg: slack

[2019-12-22 19:07] alexellis commented on #168
The guides are so to don't need to be a Kubernetes expert. Perhaps try the community cluster which we host or see if someone on Slack can help you.

[2019-12-25 07:09] blaisep commented on #168
@filipproch I have to say, I have made almost every mistake possible with `ofc-bootstrap` and I am happy to help you out. The first 25 or so attempts failed because I  was playing with strange configurations and I was not being very careful.
But even after I became more meticulous, I still ran into many problems which, eventually, I found were addressed in the docs....
but as a newcomer to k8s, I

[2019-12-25 11:30] alexellis opened #169 "registry-login command should read password from stdin"
## Expected Behaviour

registry-login command should read password from stdin, so that the password is not kept in bash logs / historyh

## Current Behaviour

Only `--password` is available, despite `--password-stdin` being referenced in the command help message.

[2019-12-25 11:35] Waterdrips commented on #169
I will look at this when I next get a few mins. In the meantime if you put a space before the command it wont be saved to history

[2019-12-25 21:18] alexellis commented on #168
Most people tend to get ofc-bootstrap working when following a tutorial or the instructions provided in a short period of time. I know a few folks have struggled, but that's the exception to the rule.

It's the Christmas holidays, but I tried OFC bootstrap today and it worked as expected with a GitHub configuration.

@viveksyngh @martindekov @Waterdrips can any of you take a look at GitLab for OFC

[2019-12-25 22:08] alexellis commented on #16
https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/pkg/types/secrets.go

We should just use Command for the base command i.e. `kubectl` and pass everything else via `Args`

[2019-12-26 08:28] #169 closed

[2019-12-26 08:43] viveksyngh commented on #168
From the provided logs .. looks like OpenFaaS installation has failed.

[code]

and that is the main cause of the errors.

[2019-12-26 08:46] filipproch commented on #168
Hi there, thanks to everyone for offering help and looking into this, it seems its because of new Kubernetes 1.16, after going back to 1.15 it works as expected.

[2019-12-26 08:48] alexellis commented on #168
I've tested OpenFaaS Cloud with Kubernetes 1.16 and it worked for me.

@viveksyngh could you reproduce the error? Try with a fake set of GitLab URLs if you are short on time.

[2019-12-26 09:55] filipproch commented on #168
Ok sorry seems false alarm, I now tested with fresh cluster and changing just Kubernetes version and still the same error. It seems before it started to work only because as part of trying to get it to work, I did many many changes (out of pure desperation) and hard to tell, which one solved it.
Unfortunately don't have more time to debug it now, since I already wasted a ton, but if I get to it la

[2019-12-26 10:02] alexellis commented on #168
I installed with GitHub yesterday and it worked first time. Unfortunately you've chosen a bad time to need help since mostly everyone is on holiday. I've asked a few people to help you, just wait please, no need to "waste a tone of time"

[2019-12-26 10:07] filipproch commented on #168
Thanks, understand the holidays, will watch this thread, but for me, it's the exact opposite, since I used the free time to play with/try out new stuff like openfaas.

[2019-12-26 14:08] martindekov commented on #168
I am extremely tight on time, I am off from the project till 6th. Currently working on mandatory personal projects not counting the family affairs. I apologize, but I won't be able to take a look/test the Issue until the end of the holidays.

[2019-12-28 17:48] viveksyngh commented on #168
I tried installing OpenFaas Cloud with ofc-bootstrap on a kubernetes cluster with version 1.16 with some dummy gitlab configuration. All ofc services got deployed correctly on running. I could not test the end to end flow but the installation was smooth.

[2019-12-29 09:57] alexellis opened #173 "[Feature] Add check command"
This feature would add a ‘ofc-bootstrap check -f init.yaml’ command which would run through a number of diagnostics and advise the user of the status of their deployment.

To start with, these items would be of most value to check:

* Were secrets created?
* Is OpenFaaS deployed?
* Does the gateway respond?
* Is the advertised DNS valid and pointing to the correct domain?
* Is cert-manager availab

[2020-01-06 11:59] alexellis commented on #163
162 was merged, this can be worked on now.

[2020-01-10 11:39] #155 closed

[2020-01-10 12:24] #16 closed

[2020-01-16 13:13] jyksnw commented on #168
I have been working through getting OpenFaaS cloud running on Civo’s managed Kubernetes and I am also running into the issue with getting the error: ` Could not get apiVersions from Kubernetes: unable to retrieve the complete list of server APIs: webhook.cert-manager.io/v1beta1: the server is currently unable to handle the request` Other than deploying to Civo (k3s with trafiek not added) I am usi

[2020-01-16 13:16] Waterdrips commented on #168
I'm using 2.16 - had to install it manually as the package manager wasn't that up to date

[2020-01-18 10:55] Waterdrips opened #178 "Timing issue with cert-manager webhook"
## Expected Behaviour

Install works correctly
## Current Behaviour

if using TLS, we get an error because we have not yet checked if out cert-manager install is ready before we start installing openfaas

i get this log excerpt
[code]

We are checking that cert-manager is ready after we try and install something with helm, which fails if the api endpoints are not ready (helm/helm#6361)

This has b

[2020-01-18 11:01] Waterdrips commented on #178
This was reported by a Slack user, and I reproduced using the same steps as above.

[2020-01-18 11:21] Waterdrips commented on #168
I think this issue is related to this Helm issue: https://github.com/helm/helm/issues/6361

I have raised a PR to wait for cert-manager to be ready before we move on, previously this caused the openfaas components not to be installed at all

[2020-01-18 11:30] Waterdrips opened #180 "Install our own version of helm3"
## Expected Behaviour

Download and use our own helm / helm3 version.

## Current Behaviour

We rely on it being preinstalled.

## Possible Solution

vendor the code in k3sup that downloads helm.
https://github.com/alexellis/k3sup/blob/master/cmd/apps/kubernetes_exec.go

[2020-01-18 11:31] Waterdrips opened #181 "Use helm3 to install charts"
## Expected Behaviour

Helm3 should be used which is more secure by default.

## Current Behaviour

We are using helm2 and tiller, which requires additional security and hardening

## Possible Solution

change to using helm3, need to ensure all charts work with helm3

We should probably do #180 first

[2020-01-24 16:00] alexellis opened #183 "Use faas-cli to download kubeseal instead of bash"
Change this:

[code]

To:

`faas-cli cloud seal --download`

[2020-01-24 16:02] alexellis opened #184 "Convert all kubectl create commands to kubectl apply"
## Task

Convert all kubectl create commands to kubectl apply

Something like this may be better:

[code]

[2020-01-24 16:25] alexellis commented on #180
We covered this in our pair-programming session

[2020-01-28 11:39] #178 closed

[2020-01-28 11:39] #180 closed

[2020-01-28 11:39] #181 closed

[2020-01-28 11:39] #184 closed

[2020-01-28 11:39] #183 closed

[2020-01-29 11:07] Waterdrips opened #185 "Merging overides with base settings for lists (slices)"
## Expected Behaviour

We should be able to provide a single override in an override file that either appends to, or replaces a secret. for example we could set the default location for the docker registry config file to /tmp/dockerconfig.json.

We expect that setting this single override will change the base config's secrets to have this.

## Current Behaviour

We currently see the base config se

[2020-02-24 12:22] Waterdrips opened #190 "Allow creation of github app in an organisation"
The github app creation command on ofc-bootstrap can create a github app on a user, but not an organisation,

The docs state that creating with a manifest is only supported for personal repos, but it could be swapped to url params.
https://developer.github.com/apps/building-github-apps/creating-github-apps-using-url-parameters/

we only need to change the url to https://github.com/organizations/{{

[2020-02-25 19:07] Waterdrips commented on #163
Isn't this completed?

[2020-02-25 19:40] alexellis commented on #163
Yes

[2020-02-25 19:40] #163 closed

[2020-02-27 11:58] alexellis opened #194 "Throw user-friendly error for "create-github-app" when template not found"
## Description

We should throw a user-friendly error for "create-github-app" when run outside of the Git repo, when the template file we need is not found.

Today it's an unhandled execution. This should be a very quick fix for anyone to take on.

Here's the command file: https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/cmd/create_github.go

[2020-02-27 11:59] #185 closed

[2020-02-27 12:00] alexellis commented on #185
Fixed with custom code, for the secrets slice only.

[2020-02-27 12:01] alexellis commented on #173
@Waterdrips @csakshaug thoughts on this proposal?

[2020-02-28 21:17] Waterdrips opened #196 "More configuration in gateway_config"
## Expected Behaviour

There are some settings that we might want to change, such as RO Filesystem, min/max replicas for scaling etc in the gateway_config.yaml, can we make those configurable, with the current values as defaults.

## Current Behaviour

https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/templates/gateway_config.yml#L30
https://github.com/openfaas-incubator/ofc-bootstra

[2020-03-02 14:47] Waterdrips opened #198 "key and key.pub re-generated every time (even if exist)"
The JWT private and public keys (key.pub and key) get re-generated every run,

I think this is because the are set as `value_command: "openssl ecparam -genkey -name prime256v1 -noout -out ./tmp/key"`

using value_command re-generates every time regardless of if they exist.

I could change them to be value_from after generation, or generating them myself, but the default re-generates every rum of o

[2020-03-02 16:24] alexellis commented on #198
Suggestion from call with @Waterdrips - run `os.Stat` on the file before creating, if it exists, don't regenerate.

[2020-03-03 15:35] #198 closed

[2020-03-06 08:52] Waterdrips opened #200 "Support secure_cookie configuration added in OFC"
https://github.com/openfaas/openfaas-cloud/pull/608
## Expected Behaviour

ofc-bootstrap needs updating to pass in the secure cookie parameter if it is merged into openfaas cloud.

## Current Behaviour

not supported
## Possible Solution

add the config variable in example_init.yaml and pass the vlaf into the yaml files

[2020-03-06 11:25] #194 closed

[2020-03-07 12:14] Waterdrips opened #202 "Move Github App creation templates into ./templates"
The ofc-bootstrap github app creation command requires some of the files in ./pkg

It would be best to put them in `templates` so we don't need to copy in `pkg` if not running from the repo clone.

## Expected Behaviour

only need ./templates and ./scripts folders

## Current Behaviour

The greate-github-app command needs the files in pkg

## Possible Solution

move the templates into the `templat

[2020-03-10 10:48] alexellis commented on #196
Discussed on a call, approved for implementation.

[2020-03-10 10:49] alexellis commented on #196
You should also template buildshiprun limits: https://github.com/openfaas/openfaas-cloud/blob/master/buildshiprun_limits.yml

[2020-03-10 10:49] Waterdrips commented on #196
check where else limits are set, see if we need to change anything else?

[2020-03-10 10:49] alexellis commented on #196
Add:

* function_memory_limit_mb
* function_cpu_requests_milli
* function_cpu_limit_milli (we should disable this option for reasons

[2020-04-01 11:24] okhiroyuki opened #204 "Question: Multiple Private Registry"
## Expected Behaviour

We want to support multiple private registries in the OpenFaaS cloud, just like OpenFaaS.
I would like to know the specific method.

## Current Behaviour

I actually ran OpenFaaS on Azure and tried to get it to work with multiple Private Repository registrations.
As for OpenFaaS Cloud, I've only read the [USER_GUIDE](https://github.com/openfaas-incubator/ofc-bootstrap/blob/m

[2020-04-05 03:44] okhiroyuki opened #205 "Proposal: modify the filename in the user guide "Switch from staging to production TLS""
I suggest you modify the filename in the user guide "Switch from staging to production TLS".

## Expected Behaviour

`./tmp/generated-ingress-ingress.yaml` is replaced by `./tmp/generated-ingress-ingress-auth.yaml`

## Context

We want the commands to be able to execute as per the user guide.

[2020-04-18 12:03] Waterdrips commented on #200
/assign: me

[2020-04-18 12:17] Waterdrips commented on #200
Iv written the code for this, but need a OFC release to contain this commit: https://github.com/openfaas/openfaas-cloud/commit/16f4085964f42e16af13baa2c79bcfbe2d554354

branch: https://github.com/Waterdrips/ofc-bootstrap/tree/secure-cookie

[2020-04-27 14:13] frossi85 opened #208 "I can not get the public cert to seal my secrets"
After I created my Openfaas Cloud with ofc-bootstrap I can not get the public key to seal my secrets and store them directly in my GitHub repo

## Expected Behaviour

After the installation of Openfaas Cloud has finished with ofc-bootstrap you should be able to retrieve the SealedSecrets public key so you can encrypt secrets on client-side to store them directly in your git repo as is indicated as

[2020-04-27 14:14] frossi85 commented on #208
* Please also follow the [troubleshooting guide]

Things that I got from different troubleshooting stuff that found in the different Openfaas ecosystem docs:

[code]

[code]

[2020-04-27 14:19] frossi85 commented on #208
By the way, after having that issue I followed one of the guides that you have to remove SealedSecrets and adding it again, but I got the same result.

[2020-04-27 14:40] Waterdrips commented on #208
https://github.com/bitnami-labs/sealed-secrets/issues/397

It looks to be this open issue on the sealed-secrets helm chart.

You can fix this by updating the service
[code]

so the spec looks like this (remove `- name` and put the `-` on the port)
[code]

[2020-04-27 14:41] Waterdrips commented on #208
https://github.com/helm/charts/pull/22097

^ this is the related upstream fix

[2020-05-04 11:57] Waterdrips commented on #208
@frossi85 it looks like https://github.com/helm/charts/pull/22097 has been merged.

sealedsecrets should be updated to 1.10.0 for a fix

Are you able to try this out and let us know if this fixes it?

[2020-05-05 20:52] frossi85 commented on #208
I fixed it as you told me before so not sure if running ofc again over my cluster will make some difference. I can try to create a new cluster to test but I think I will have time maybe during the Friday or weekend

[2020-05-11 19:24] alexellis opened #209 "Add cookie_domain to dashboard_config.yml"
As per https://github.com/openfaas/openfaas-cloud/pull/633/files

This fixes an issue with logging out not clearing the cookie.

[2020-05-11 19:41] #202 closed

[2020-05-11 19:44] #209 closed

[2020-05-11 19:45] alexellis commented on #209
Fixed in #206

[2020-05-20 16:23] Waterdrips opened #210 "create-github-app failing"
./ofc-bootstrap create-github-app --root-domain ofc.example.com --name ofc1-example-com

This creates the page, then on submit im not getting a github app details filled in.

## Expected Behaviour
Github App created with values

## Current Behaviour
Im getting blank fields in the github app when submitting from our page.

## Possible Solution

I wonder if the API has changed github's side or we ha

[2020-05-21 19:47] Waterdrips commented on #200
This has been merged

[2020-05-21 19:47] #200 closed

[2020-05-21 19:49] Waterdrips commented on #208
/close  this is fixed by upstream - new deploys and re-deploys will get fix.

[2020-05-21 19:49] #208 closed

[2020-05-22 03:03] courupteddata opened #211 "generated-tls-issuer-*.yml uses apiKeySecretRef instead of apiTokenSecretRef with cloudflare dns"
## Expected Behaviour
Instead of giving cert-manager broad control of CloudFlare DNS, allow for a restricted token to be used. I found myself having to change apiKeySecretRef to apiTokenSecretRef and that allowed the cert to be issued correctly.

## Current Behaviour
By changing from a global apiKey to a configurable apiToken, it would allow users better control and risk management. If the apiKey

[2020-06-01 18:14] austinrivas commented on #210
I am also experiencing this issue

OS: Ubuntu 18
Docker: 19
Kubectl: 1.18

[2020-06-01 19:18] alexellis commented on #210
I know that you changed this code recently Alistair, can you take point on this if it's broken and find out either way what the solution is?

[2020-06-01 19:18] alexellis commented on #210
@Waterdrips

[2020-06-01 19:54] Waterdrips commented on #210
@alexellis it looks like github have removed the ability to create apps using the API.

https://developer.github.com/v3/apps/ has no reference to the url we were using `https://github.com/settings/apps/new`

[2020-06-01 19:59] alexellis commented on #210
https://developer.github.com/v3/apps/#create-a-github-app-from-a-manifest

[2020-06-01 20:28] Waterdrips commented on #210
oh yeah, DOH!

So it looks like I'm being redirected through `/login` before being sent back to `apps/new` and we loose the manifest=<json string> parameter. Therefore nothing is filled in on the app.

![image](https://user-images.githubusercontent.com/40488132/83451430-d79cc000-a44e-11ea-9ed9-3f57b3e73d80.png)

[2020-06-01 20:48] Waterdrips commented on #210
Iv opened a support ticket with github.

[2020-06-02 10:07] Waterdrips opened #213 "Refactor apply.go to split code into smaller related chunks"
apply.go is ca. 800 lines, it does everything, its hard to see what happens where. My IDE can be used to jump about, but logically separating stuff may be better?

We could also potentially refactor arkade to provide a pkg we could import and use here? We do a lot of the same stuff in both (install OpenFaaS, CertManager, Minio) and we could add sealed-secrets to there so the bootstrap tool becomes

[2020-06-02 10:10] Waterdrips commented on #60
/close this is not relevant now we are moving to use a helm chart for ofc.

[2020-06-02 10:10] #60 closed

[2020-06-02 10:13] Waterdrips commented on #70
@alexellis no more reports of this, plus the script has changed somewhat since the inital report, can we close?

[2020-06-02 10:14] #70 closed

[2020-06-02 10:37] Waterdrips commented on #210
Github have confirmed there is an issue here and raised a ticket for their engineering team to look into.

They said they don't have a timescale at the moment but would contact me when they have more info.

[2020-06-02 10:38] Waterdrips commented on #154
/assign: me

Ill get this done today if possible

[2020-06-29 05:04] codedawi opened #215 "Support request"
Failing to authenticate using `faas-cli` to my digital ocean cluster.

## Expected Behaviour

Install cloud functions on digital ocean.

## Current Behaviour

[code]
## Steps to Reproduce (for bugs)

1.
[code]
2.
[code]

## Context

## Your Environment

* `faas-cli version` ( full output ): `0.12.4`

* Docker version `docker version` (e.g. Docker 17.0.05 ): `19.03.5`

* Kubernetes version `kubectl

[2020-06-29 08:34] alexellis commented on #215
/set title: Support request

[2020-06-29 08:35] alexellis commented on #215
Hi thanks for your interest in the project, we deliver user support via Slack and not via GitHub issues.

For that reason let's get this closed, and move across if you need further help?

I would also suggest that if you've re-run ofc-bootstrap against the same cluster more than once, that you delete the cluster or pick a new one to run against. `ofc-bootstrap` offers no guarantees about being re-

[2020-06-29 08:36] alexellis commented on #215
/msg: slack

[2020-06-29 12:30] codedawi commented on #215
okay thank you my apologies

[2020-06-29 12:30] #215 closed

[2020-06-29 12:35] alexellis commented on #215
From looking at your error it looks like an environmental issue from re-running the bootstrap > 1 time, or something else like a timing issue. You can try destroying the cluster and re-running. We'll see you on Slack, let us know how far you got?

[2020-06-30 12:39] codedawi commented on #215
Definitely could be the issue, I was trying a few different things with a handful of clusters (both managed and local). I am probably going to have time tonight to mess around. Also, I submitted my request to join the Slack. Thanks again for your responsiveness and help such far. Cheers.

[2020-07-08 21:57] Waterdrips commented on #210
/close

This has been confirmed FIXED by github :tada:

[2020-07-08 21:57] #210 closed

[2020-07-08 22:01] Waterdrips commented on #204
Hi @okhiroyuki, apologies about taking so long to get back to you.

What's the usecase for multiple private registries for OpenFaaS Cloud?

Currently the core components build and push the images up to a registry and this same one is used to pull and run the functions. How would you see multiple private registries working for OFC, is this for part of a build on the `dockerfile` lang?

[2020-07-10 14:26] okhiroyuki commented on #204
Hi @Waterdrips , Thank you for your reply.

I thought the expected behavior would be for the user to be able to specify their own registry, but this was a question I was asking without knowing how openfaas cloud works.
This issue can be closed and is fine.

[2020-07-10 14:31] Waterdrips commented on #204
Thanks @okhiroyuki - happy to take any feedback on openffas cloud, the installer and anything that could be improved.

If your not on the OpenFaaS slack it would be great to see you join.

[2020-07-10 14:31] Waterdrips commented on #204
/slack

[2020-07-10 14:33] Waterdrips commented on #204
/close

[2020-07-10 14:33] #204 closed

[2020-07-10 14:34] Waterdrips commented on #26
/close

this this is covered with openfaas chart, and the openfaas cloud WIP chart

[2020-07-10 14:34] #26 closed

[2020-08-06 00:26] kpiyush17 opened #217 "Is ofc-bootstrap works with hosted Gitlab.com?"
Hi,

We use hosted Gitlab to store our function codes. I saw the blog posts and docs on how the ofc-bootstrap integrates with self-hosted GitLab. I want to know if it will work for Gitlab.com and if yes, what changes need to be done in init.yaml file.

Thanks

[2020-08-07 08:10] #217 closed

[2020-08-07 08:10] alexellis commented on #217
/set title: Question about GitLab.com support

[2020-08-07 08:13] alexellis commented on #217
No, sorry. Unlike GitHub.com, GitLab.com doesn't provide suitable APIs for integration. The closest thing I found last time someone asked (we keep checking periodically), was project-level webhooks, which require users to pay.

Assuming this is for personal use, then for the few functions you may have, perhaps you could use GitHub.com and sync with GitLab, or run a small self-hosted instance repli

[2020-09-07 06:54] Waterdrips opened #219 "Update OFC Authorization code to avoid depreciation of GitHub API calls"
https://github.com/openfaas/openfaas-cloud/pull/664

We need to bump OFC version once the above is merged and released so our Github users don't install a version with deprecated GitHub Authorization API calls

## Expected Behaviour

use the above version
## Current Behaviour

current version will stop working on 1st Oct
## Possible Solution

[2020-10-05 14:23] besirkurtulmus commented on #219
When I try to create a new installation, it seems that I'm getting an empty token from the github auth server.

I'm wondering if anyone else is having this issue?

[2020-10-06 14:27] wilsonianb commented on #219
I think an updated [`github-status`](https://hub.docker.com/r/functions/github-status/tags) Docker image needs to pushed with the changes that resolve this issue (https://github.com/openfaas/openfaas-cloud/pull/664).

[2020-10-06 14:55] alexellis commented on #219
@besirkurtulmus this is the first time we've heard from you. Glad you are finding OpenFaaS Cloud useful, what are you doing with it?

[2020-10-06 14:58] alexellis commented on #219
/set title: Update OFC Authorization code to avoid depreciation of GitHub API calls

[2020-10-07 08:06] besirkurtulmus commented on #219
Trying to use it for audio processing. Got the basic installation working, but still trying to get the cloud version working.

Do you have a timeline for updating the `github-status` image/function?

[2020-10-12 07:58] Waterdrips commented on #39
/close
This will be obsoleted by the ofc chart

[2020-10-12 07:58] #39 closed

[2020-10-12 09:08] #205 closed

[2020-10-14 09:04] Waterdrips commented on #196
going to tackle this as part of moving to use the OFC Helm chart.

[2020-10-14 09:06] Waterdrips opened #223 "Migrate to installing OCF components with the new OFC Helm chart"
There's a helm chart for OFC now, the idea is to move this into use here.

this will also include #154

## Expected Behaviour

use new OFC Helm chart

## Current Behaviour

We are cloning and creating override files to set functionality

[2020-10-14 09:06] Waterdrips commented on #223
/assign: me

[2020-11-04 13:55] Waterdrips commented on #219
/close

this is done

[2020-11-04 13:55] #219 closed

[2020-11-04 14:46] Waterdrips opened #226 "Migrate from Travis to GH Actions"
## Expected Behaviour

Build test and deploy use Github Actions rather than travis

## Possible Solution

see changes made in arkade, for example.

[2020-11-04 14:46] Waterdrips commented on #226
/assign: me

[2020-11-06 15:38] #226 closed

[2020-11-13 16:49] khos2ow opened #233 "Make ingress controller optional and/or configurable"
## Expected Behaviour

I want to use `ofc-bootstrap` against an existing and configured cluster, which already has ingress controller installed and configured on it. But `ofc-bootstrap` is always going to install ingress-controller. I'd like to be able to:

1. make the installation of ingress controller optional
2. override value of `kubernetes.io/ingress.class` annotation (to be completely flexib

[2020-11-13 16:54] khos2ow opened #234 "Make cert-manager optional and/or configurable"
## Expected Behaviour

I want to use `ofc-bootstrap` against an existing and configured cluster, which already has `cert-manager` installed and configured on it. But `ofc-bootstrap` is always going to install `cert-manager`. I'd like to be able to:

1. make the installation of `cert-manager` optional
2. make installation of `ClusterIssuer` (`templates/k8s/tls/issuer-*.yml`) optional

## Current Be

[2020-11-13 17:57] alexellis commented on #234
We're currently migrating to a new way to installation method and I would expect we could accommodate this request at the same time.

[2020-11-13 17:57] alexellis commented on #234
/set title: Feature request: make cert-manager optional

[2020-11-13 17:59] alexellis commented on #233
Same as my comment on the other issue. It's probably best not to raise issues for every idea you have thought of right now, and instead discuss with the community on Slack.

The main reason is that we are currently migrating the setup and some of your requests won't apply afterwards.

[2020-11-13 17:59] alexellis commented on #233
/set title: Feature request: use an existing Ingress controller

[2020-11-13 18:04] khos2ow commented on #234
Awesome, I can lend a hand for this if need be.

[2020-12-03 11:19] Waterdrips opened #237 "Set DirectFunctions to false"
## Expected Behaviour

DirectFunctions is False, in openfaas install) (Or configurable in init.yml, default to false)

## Current Behaviour

it's not specified so uses chart default

## Possible Solution

pass the flag, and possibly add a config option?

[2020-12-05 15:45] LucasRoesler opened #239 "Blog post about setting up for localdev can not be completed"
I am working through the steps documented in https://blog.alexellis.io/openfaas-cloud-for-development/ but can not complete the installation

1. `get.sh` script is incorrect, this is fixed with https://github.com/openfaas/ofc-bootstrap/pull/238
2. the blog post references a screenshot during the Github App setup that does not exist anymore, the values are output to stdout
3. if the ofc-bootstrap i

[2020-12-05 15:48] LucasRoesler commented on #239
I tried adding this to my `init.yaml` and it did not work

[code]

[2020-12-05 15:51] LucasRoesler commented on #239
Adding both of these did make progress

[code]

[2020-12-05 16:09] LucasRoesler commented on #239
I went back through the ofc-bootstrap logs and found this

[code]

This should probably be a critical error and stop the bootstrap

[2020-12-05 16:10] LucasRoesler commented on #239
Same for minio
[code]

[2020-12-05 16:10] alexellis commented on #239
@Waterdrips PTAL

[2020-12-05 16:10] alexellis commented on #239
Thanks for the report

[2020-12-05 16:11] LucasRoesler commented on #239
I thought we fixed this already?
[code]

[2020-12-05 16:12] LucasRoesler commented on #239
sealed secrets also fails to download
[code]

[2020-12-05 18:21] Waterdrips commented on #239
ok, so I propose:

~~1) get.sh (fixed)~~ (thanks)
2) Update the github app generation to save/append/merge the values into the files (either by default, or with a flag). Blog post(s) need updating to use new flag or new default (think theres some use of this command in the openfaas blogs too)
3) Logging options in ofc-bootstrap need re-addressing. We might want to hide everything thats not an "iss

[2020-12-13 08:56] ssgutierrez42 opened #242 "[support] after running ofc-bootstrap with GitHub config, unable to see functions."
After running ofc-bootstrap with GitHub config, unable to see functions.
<img width="1060" alt="Screen Shot 2020-12-13 at 12 23 29 AM" src="https://user-images.githubusercontent.com/5482213/102006912-75fcbe80-3cd9-11eb-9d36-a60345f7def9.png">

## Expected Behaviour

Should see functions added via GitHub on dashboard list.

## Current Behaviour

Infinite load + 500 internal server error response, w

[2020-12-13 11:16] alexellis commented on #242
Thanks for your interest in openfaas-cloud. We don't provide free commercial support for this project, but there is a Slack community where you can chat with the community.

[2020-12-13 11:16] #242 closed

[2020-12-13 11:16] alexellis commented on #242
/msg: slack

[2020-12-13 17:45] ssgutierrez42 commented on #242
@alexellis @Waterdrips thanks for reviewing this and for the quick PR fix #243.
Everything is working fine now 👍 you guys rock!

[2020-12-13 19:32] alexellis commented on #242
What are you going to use OFC for? Please do join us on Slack as suggested.

[2020-12-15 01:38] ssgutierrez42 commented on #242
Will do -- just received an invite to the Slack this morning.
I am evaluating OFC as the driver of a micro-services architecture for a growing start-up.

[2021-01-11 18:40] AemulusWardwell opened #248 "Debian 10 Buster: "ofc-bootstrap apply" failure on k8s.GetNodeArchitecture()"
## Expected Behaviour

I have read the README, set up my configuration details for each individual item using Digital Ocean. When I run `ofc-bootstrap apply --file init.yaml` I expect to get past the initialization.

## Current Behaviour

I have read the README, set up my configuration details for each individual item using Digital Ocean. When I run `ofc-bootstrap apply --file init.yaml` in the of

[2021-01-22 15:35] AemulusWardwell commented on #248
Is anybody out there? Did I format my ticket poorly? I'm happy to provide more information.

[2021-01-28 13:36] alexellis commented on #248
Hi there, we don't provide technical support on GitHub, you'd be better participating actively in the community and starting a discussion on Slack.

[2021-01-28 13:37] alexellis commented on #248
/msg: slack

[2021-01-28 13:37] alexellis commented on #248
Outside of commercial support, there is no SLA for issues or PRs.

Please read ["Setting expectations, support and SLAs"](https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#setting-expectations-support-and-slas)

[2021-01-28 13:38] alexellis commented on #248
PRs are also welcome if you want to work on a fix for your use-case.

[2021-01-28 15:21] AemulusWardwell commented on #248
Thanks for the comments! I'll reach out on slack instead. If I can resolve the issue with some code and it's not a configuration thing I'll open a PR.

[2021-01-28 15:21] #248 closed, assigned to nobody

[2021-02-01 16:50] ssgutierrez42 commented on #248
@AemulusWardwell
I am also seeing this issue. Let me know if you were able to resolve!